.LoginPage {
  height: 90vh;
}

.LoginPage-form {
  margin: 6rem 12rem 0 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

@media screen and (max-width: 1000px) {
  .LoginPage-form {
    margin: 4rem 6rem;
  }
}

@media screen and (max-width: 480px) {
  .LoginPage-form {
    margin: 4rem 2rem;
  }
}
