.RegisterPage {
  height: 90vh;
}

.RegisterPage-form {
  margin: 6rem 11rem 0 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}

@media screen and (max-width: 1000px) {
  .RegisterPage-form {
    margin: 4rem 6rem;
  }
}

@media screen and (max-width: 480px) {
  .RegisterPage-form {
    margin: 4rem;
  }
}
